.left-section {
    grid-column: span 1;
    background-color: #222663;
    border-radius: 20px;
    border: 2px solid #000000;
    height: 900px;
    color: white;
}
.left-content {
    padding: 1rem;
}
.profile-image {
    max-width: 60%;
    display: block;
    margin: auto;
    margin-top: 10%;
    border-radius: 30%;
}
h4 {
    margin: 10px;
}
.name {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
}
.designation {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    filter: contrast(10%);
}
hr {
    background-color: white;
    height: 2px;
}
.description {
    text-align: center;
    margin: none;
}
.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: left;
}
.row-item {
    display: flex;
    align-items: center;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.icon {
    display: flex;
    flex-direction: column;
    filter: invert(100%);
    width: 20px;
    margin: 5px;
}
#fe-icon {
    filter: none;
}
.skills {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
.skill-name {
    font-size: 00.8rem;
    font-weight: 500;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar {
    display: inline block;
    border: 1px solid #000000;
    height: 4px;
    background-color: #000000;
}
.certifications {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
.certification-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 00.8rem;
    font-weight: 500;
    text-align: left;
    padding-bottom: 0.5rem;
}
#htmlPB {
    width: 70%;
}
#cssPB {
    width: 40%;
}
#javascriptPB {
    width: 20%;
}
#javaPB {
    width: 60%;
}
#dbmsPB {
    width: 40%;
}
#gitPB {
    width: 30%;
}
