.right-section{
    background-color: #e6b384;
    grid-column: span 1 / span 2;
}
.right-main-content{
    padding: 2rem 2rem;
    }
h2.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: auto;
    letter-spacing: 1px;
}
.para{
    font-size: 1.2rem;
    margin: auto;
}
h4.content-sub-title{
    font-size: 1rempx;
    margin: auto;
}
.content-item{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 40px;
}
.content-para{
    font-size: 1rem;
    margin: auto
}
.duration{
    font-size: 1rem;
    font-weight: 500;
}
.about p{
    font-size: 1.1rem;
}
