*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-content {
    width: 90%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 300px 700px;

}
.left-section{
    grid-column: span 1;
    background-color: bisque;
}
.right-section{
    background-color: #e6b384;
    grid-column: span 1 / span 2;
}
.left-content{
    padding: 1rem;
    color: black;
    min-height: 1000px;
}
.profile-image{
    max-width: 60%;
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
    letter-spacing: 0.02px;
}
.designation{
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 700;
}
hr{
    background-color: black;
    height: 2px;
    border: black;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.contact-info{
    font-size: 15px;
    text-align: left;
}
.icon{
    display: inline;
    width: 15px;
    margin-right: 10px;
    margin-left: 25px;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 0.65;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 500;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    display: inline block;
    border: 1px solid white;
    height: 4px;
    background-color: #e6b384;
}
#htmlPB{
    width: 70%;
}
#cssPB{
    width: 60%;
}
#javascriptPB{
    width: 80%;
}
#javaPB{
    width: 70%;
}
#dbmsPB{
    width: 60%;
}
.right-main-content{
padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.content-item{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 40px;
}
.content-para{
    font-size: 1rem;
}
.duration{
    font-size: 1rem;
    font-weight: 500;
}
.about p{
    font-size: 1.1rem;
}
@media only screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
